# Task 5

In [ ]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

From the above dictionary, do the following tasks

access "Mike"
access 80
change "Mike" to "Your name"
add ML = 80 and DL = 80 inside marks

In [1]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [2]:
#accessing "Mike"
dict1["april_batch"]["student"]["name"]

'Mike'

In [3]:
#accessing 80
dict1["april_batch"]["student"]["marks"]["python"]

80

In [4]:
#change "Mike" to "Your name"
dict1["april_batch"]["student"]["name"] = "Akhilesh"
dict1

{'april_batch': {'student': {'name': 'Akhilesh',
   'marks': {'python': 80, 'maths': 70}}}}

In [5]:
#adding ML = 80 and DL = 80 inside marks
dict1["ML"] = 80
dict1["DL"] = 70
dict1

{'april_batch': {'student': {'name': 'Akhilesh',
   'marks': {'python': 80, 'maths': 70}}},
 'ML': 80,
 'DL': 70}